
@import url('https://fonts.googleapis.com/css2?family=Ramaraja&display=swap');

*{
    padding: 0;
    margin: 0;
}
html{
    overflow-x:hidden
}
body{
    overflow: hidden;
    background-color: #6a0000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' viewBox='0 0 192 192'%3E%3Cpath fill='%234380d8' fill-opacity='0.23' d='M192 15v2a11 11 0 0 0-11 11c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H145v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11 13 13 0 1 1 .02 26 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43a6.1 6.1 0 0 0-3.03 4.87V143h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 181 164a11 11 0 0 0 11 11v2a13 13 0 0 1-13-13 12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84a6.1 6.1 0 0 0-4.87-3.03H145v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 124 181a11 11 0 0 0-11 11h-2a13 13 0 0 1 13-13c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43a6.1 6.1 0 0 0 3.03-4.87V145h-35.02a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 107 124a11 11 0 0 0-22 0c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H49v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11A13 13 0 0 1 81 192h-2a11 11 0 0 0-11-11c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V145H11.98a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 0 1 0 177v-2a11 11 0 0 0 11-11c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H47v-35.02a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 28 109a13 13 0 1 1 0-26c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43A6.1 6.1 0 0 0 47 84.02V49H11.98a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 11 28 11 11 0 0 0 0 17v-2a13 13 0 0 1 13 13c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84A6.1 6.1 0 0 0 11.98 47H47V11.98a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 68 11 11 11 0 0 0 79 0h2a13 13 0 0 1-13 13 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43A6.1 6.1 0 0 0 49 11.98V47h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 85 68a11 11 0 0 0 22 0c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H143V11.98a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 124 13a13 13 0 0 1-13-13h2a11 11 0 0 0 11 11c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V47h35.02a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 179 28a13 13 0 0 1 13-13zM84.02 143a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 83 124a13 13 0 1 1 26 0c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84a6.1 6.1 0 0 0 4.87 3.03H143v-35.02a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 164 107a11 11 0 0 0 0-22c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V49h-35.02a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 1 1 83 68a12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84A6.1 6.1 0 0 0 84.02 49H49v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 28 85a11 11 0 0 0 0 22c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V143h35.02z'%3E%3C/path%3E%3C/svg%3E");
}
header{
    top: 0;
    background: rgb(255,255,255);
    background: linear-gradient(98deg, rgba(255,255,255,1) 34%, rgba(80,0,0,1) 67%);
    
}
.imgLOGO{
    width: 18rem;
    height: 7.5rem;
}
.navbar-collapse{
    justify-content: end;
    margin-top: 4rem;
    margin-right: 2rem;
}
.nav-link{
    padding: 5px;
    margin: 5px;
    border: 2px #e30202;
    border-style: double;
}
.h1{
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    color:#ffffff;
    font-size: 3rem;
    font-family: 'Ramaraja', serif;
    z-index: -10;
}
.DivMain{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem;
    gap: 2rem;
}
.textoVentajas{
    width: 40rem;
    height: fit-content;
    line-height:  1.7rem;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    font-size: 16px;

}
.VideoImpresora{
    margin-left: 2rem;
    width: 30rem;
    height: 20rem;
}
.Txt{
    margin: 8rem auto;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 10px;
    border: 5px;
    border-style:double;
    border-color: #ffffff;
    width: fit-content;
}
.Txt a{
    color: #25e6b6;
}
footer{
    background: rgb(255,255,255);
    background: linear-gradient(98deg, rgba(255,255,255,1) 34%, rgba(80,0,0,1) 67%);
    margin-top: 3rem;
}
.DivFooter{
    display: flex
}
.divRedes{
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}
.ImgFooter{
    height: 8rem;
    width: 11rem;
    display: flex;
    margin-left: 20rem;
    margin-top: 0.5rem;

}
.EnlacesPaginaFooter{
    list-style: none;
    margin-left: 20rem;
    margin-top: 0.5rem;
}
.EnlacesPaginaFooter a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    line-height: 2rem;
}
.Redes{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-top: 1.2rem;
    margin-top: 0.5rem;
}
.Tel{
    margin-top: 3.7rem;
    color: rgb(0, 0, 0);
}
.insta{
    color: rgb(0, 0, 0);
}
.insta a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.ig{
    margin-left: 2rem;
    height: 10.5vh;
    width: 10.5vh;
}
.Wp{
    height: 15.9vh;
    width: 21.1vh;

}
.ImgContactos{
    display: flex;
    flex-direction: column;
    width: 52.8vh;
    height: 44vh;
    border-radius: 50%;
}
.RefContactos{
    list-style: none;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    
}
.TxtContacto{
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #ffffff;
    margin: 20px;
}
.FieldSet{
    margin: 10px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}
.DivQS .TituloQS{
    display: flex;
    justify-content: center;
    font-size: 45px;
    color: #ffffff;
    text-decoration:underline;


}
.DivQS .Txt_QuienesSomos{
    display: flex;
    justify-content: center;
    margin: 20px;
    line-height: 5.2vh;
    color: white;
}
.DivGaleria{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2rem;
    margin-left: 2rem;
}
.DivGaleria2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2rem;
    margin-left: 2rem;
    gap: 1rem;
}
.FotoFinal{
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    margin-top: 2rem;
}
.TextGaleria{
    margin-left: 5.5rem;
    font-size: 20px;
    color:#ffffff;
    border-top: ridge 3px;
    border-left: ridge 3px;
    border-right:  ridge 3px;
    padding: 10px;
    margin: 2rem;
    width: fit-content;
}
.Text2{
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    font-size: 20px;
    font-family: 'Ramaraja', serif;
    color: #ffffff;
    margin-top: 1.3rem;
    border: 3px;
    border-style: double;
    border-color: #ffffff;
    padding: 5px;

}
.ImgGaleria1{
    height: 300px;
    width: 500px;
}
.ImgProtesis1{
    height: 52.8vh;
    width: 88vh;
}
.Foto4{
    height: 52.8vh;
    width: 88vh;
}
.foto5{
    width: 35rem;
    height: 25rem;
    border: 2px gold;
}
.DivContacto{
    display: flex;
    align-items: center;
}
.HContacto{
    display: flex;
    margin-left: 35.2vh;
    font-size: 50px;
    color: #ffffff;
    text-decoration: none;
    
}
.HContacto a{
    text-decoration: none;
    color: #ffffff;
}
.DivUbi{
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
}
.Ubi{
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    margin-top: 1.5rem;
    height: 79.2vh;
    width: 79.2vh;
}
.TxtUbi{
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 50rem;
    margin-left: 14.3rem;
    margin-top: 1.8rem;

}
.TxtUbi_P{
    font-size: 20px;
    width: 100px;
    color: #ffffff;
    font-family: 'Ramaraja', serif;
    width: fit-content;
    margin: 5px 5px 5px;
}
@media only screen and (max-width: 768px){
    .DivGaleria{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin-top: 0rem;
        margin-left: 0rem;
        
    }
    .ImgGaleria1{
        margin-left: 8rem;
    }
    .Foto4{
        margin-left: 3rem;
    }
    .DivGaleria2{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .Redes{
        display: none;
    }
    .DivFooter{
        display: grid;
    }
    .ig{
        margin-left: 23rem;
    }
    .Wp{
        margin-left: 20.5rem;
    }
    .EnlacesPaginaFooter a{
        display: none;
    }
    .DivMain{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .textoVentajas{
        margin-left: 3rem;
    }
    .VideoImpresora{
        margin-left: 8rem;
    }
    .TxtUbi_P{
        margin-right: 30rem ;
    }
    .DivContacto{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }
    .HContacto{
        margin-right: 17rem;
        font-size: 35px;
    } 
    }
    @media only screen and (max-width: 425px) {
        .EnlacesPagina a{
            color: black;
        }
        .imgLOGO{
            
            margin-left: 5rem;
             width: 10rem;
             height: 5rem;
        }
        .headerTop{
            display: grid;
           grid-template-columns: 1fr;
           grid-template-rows: 1fr;
       }
       .EnlacesPagina__li{
           position: relative;
           right: 175px;
           bottom: 60px;
       }
       .h1{
           margin-top: 7rem;
       }
       .textoVentajas{
           margin: 0%;
           width: fit-content;
           height: fit-content;
           
       }
       .barraNav{
           display: flex;
           margin: 0%;
           justify-content: flex-start;
           align-items: flex-start;

       }
       .VideoImpresora{
           width: 17rem;
           height: 12rem;
           margin: 0%;
           margin-top: 4rem;
       }
       .DivFooter{
            display: grid;
    }
        .ig{
            margin-left: 9rem;
    }
        .Wp{
            margin-left: 7rem;
    }
        .EnlacesPaginaFooter a{
            display: none;
    }
        .ImgFooter{
            margin-left: 5rem;
        }
        .DivGaleria{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
        }
        .ImgGaleria1{
            width: 20rem;
            height: 10rem;
            margin:0%
        }
        .Foto4{
            width: 20rem;
            height: 12rem;
            margin: 0%;
            margin-top: 2rem;
        }
        .DivGaleria2{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
        }
        .Foto3{
            width: 17rem;
            height: 10rem;
            margin: 0%;
        }
        .ImgProtesis1{
            width: 17rem;
            height: 10rem;
        }
        .foto5{
            width: 19rem;
            height: 13rem;
        }
        .TxtUbi{
            position: relative;
            right: 230px;
        }
        .Ubi{
            width: 18rem;
            height: 25  rem;
        }
        .ImgContactos{
            margin: 0%;
        }
        .DivContacto{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            margin: 0%;
        }
        .ImgContactos{
            position: relative;
            right: 170px;
        }
        .HContacto{
            position: relative;
            right: 150px;
            height: 5rem;
            width: 10rem;
            font-size: 20px;
        }
    }