.RefContactos{
    list-style: none;
    text-decoration: none;
    color: map-get($color , color-cuaternario );
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    
}
.txtContacto{
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: map-get($color , color-terciario );
    margin: 20px;
}
.fieldSet{
    margin: 10px;
    display: flex;
    flex-direction: column;
    background-color: map-get($color , color-principal );
}
form{
    color: map-get($color , color-terciario );
}
.divContacto{
    display: flex;
    align-items: center;
}
.hContacto1{
    display: flex;
    margin-left: 35.2vh;
    font-size: 50px;
    color: map-get($color, color-terciario );
    text-decoration: none;
}
.hContacto{
    display: flex;
    margin-left: 35.2vh;
    font-size: 50px;
    color: map-get($color, color-terciario );
    text-decoration: none;
    
}
.hContacto a{
    text-decoration: none;
    color: map-get($color , color-terciario );
}
Legend{
    display: flex;
    justify-content: center;
    align-content: center;
}
.imgContactos{
    display: flex;
    flex-direction: column;
    width: 52.8vh;
    height: 44vh;
    border-radius: 50%;
}
.imgContactos1{
        display: flex;
        flex-direction: column;
        width: 52.8vh;
        height: 44vh;
        border-radius: 50%;

}
.instaPic{
    height: 12rem;
    width: 20rem;
}