footer{
    background: rgb(255,255,255);
    background: linear-gradient(98deg, rgba(255,255,255,1) 34%, rgba(80,0,0,1) 67%);
    margin-top: 3rem;
    height: 26vh;
}
.divFooter{
    display: flex
}
.divRedes{
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}
.imgFooter{
    height: 8rem;
    width: 11rem;
    display: flex;
    margin-left: 20rem;
    margin-top: 0.5rem;
    

}
.enlacesPaginaFooter{
    list-style: none;
    margin-left: 17rem;
    margin-top: 1.5rem;
}
.EnlacesPaginaFooter a{
    text-decoration: none;
    color: map-get($color , color-terciario );
    line-height: 2rem;
}
.redes{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-top: 1.2rem;
    margin-top: 0.5rem;
}
.tel{
    position: relative;
    margin-top: 3rem;
    color: map-get($color , color-cuaternario );
}
.insta{
    color: map-get($color , color-cuaternario );
}
.insta a{
    text-decoration: none;
    color: map-get($color , color-cuaternario );
}
.ig{
    margin-left: 2rem;
    height: 10.5vh;
    width: 10.5vh;
}
.Wp{
    height: 3.8rem;
    width: 3.8rem;
    margin-top: 0.7rem;
    margin-left: 2rem;

}