.h1{
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    color:#ffffff;
    font-size: 4rem;
    margin-top: 1rem;
    font-family: 'Ramaraja', serif;
    z-index: -10;
}
.textoVentajas{
    width: 40rem;
    height: fit-content;
    line-height:  2rem;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    font-size: 16px;
    margin-left: 2rem;
}
.videoImpresora{
    margin-left: 4rem;
    width: 30rem;
    height: 20rem;
}
.txt{
    margin: 8rem auto;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 10px;
    border: 5px;
    border-style:double;
    border-color: #ffffff;
    width: fit-content;
}
.Txt a{
    color: #25e6b6;
}
.container-fluid{
    padding: 0%;
}