@media only screen and (max-width: 768px){
    .nav-link{
        margin-left: 2rem;
        color: rgb(0, 97, 233) !important;
    }
    .divGaleria{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin-top: 0rem;
        margin-left: 0rem;
        
    }
    .imgGaleria1{
        margin-left: 8rem;
    }
    .foto4{
        margin-left: 13rem;
        margin-top: 3rem;
    }
    .redes{
        display: none;
    }
    .divFooter{
        display: grid;
    }
    .ig{
        margin-left: 22rem;
    }
    .Wp{
        margin-left: 20.5rem;
    }
    .enlacesPaginaFooter a{
        display: none;
    }
    .divMain{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .textoVentajas{
        margin-left: 3rem;
    }
    .videoImpresora{
        margin-left: 8rem;
    }
    .txtUbi_P{
        margin-right: 30rem ;
    }
    .divContacto{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }
    .hContacto{
        margin-right: 17rem;
        font-size: 35px;
    }
    .container-fluid{
        padding: 0%;
    }
    .nav-link a{
        color: white !important;
    }
    }
    @media only screen and (max-width: 425px) {
        .enlacesPagina a{
            color: black;
        }
        .imgLOGO{
            
            margin-left: 5rem;
             width: 10rem;
             height: 5rem;
        }
        .headerTop{
            display: grid;
           grid-template-columns: 1fr;
           grid-template-rows: 1fr;
       }
       .enlacesPagina__li{
           position: relative;
           right: 175px;
           bottom: 60px;
       }
       .h1{
           margin-top: 4rem;
           font-size: 2.5rem;
       }
       .textoVentajas{
           margin: 0%;
           width: fit-content;
           height: fit-content;
           
       }
       .barraNav{
           display: flex;
           margin: 0%;
           justify-content: flex-start;
           align-items: flex-start;

       }
       .videoImpresora{
           width: 17rem;
           height: 12rem;
           margin: 0%;
           margin-top: 4rem;
           margin-left: 1.7rem;
       }
       .divFooter{
            display: grid;
    }
        .ig{
            margin-left: 8.5rem;
    }
        .Wp{
            margin-left: 7rem;
    }
        .enlacesPaginaFooter a{
            display: none;
    }
        .imgFooter{
            margin-left: 5rem;
        }
        .divGaleria{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
        }
        .imgGaleria1{
            width: 20rem;
            height: 10rem;
            margin:0%
        }
        .foto4{
            width: 20rem;
            height: 12rem;
            margin: 0%;
            margin-top: 2rem;
        }
        .foto3{
            width: 17rem;
            height: 10rem;
            margin: 0%;
        }
        .imgProtesis1{
            width: 17rem;
            height: 10rem;
        }
        .foto5{
            width: 19rem;
            height: 13rem;
        }
        .txtUbi{
            position: relative;
            right: 230px;
        }
        .ubi{
            width: 18rem;
            height: 25  rem;
        }
        .imgContactos{
            margin: 0%;
        }
        .divContacto{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            margin: 0%;
        }
        .imgContactos{
            position: relative;
            right: 170px;
        }
        .hContacto{
            position: relative;
            right: 150px;
            height: 5rem;
            width: 10rem;
            font-size: 20px;
        }
        .carousel-inner{
            position: relative;
            right: 7.5rem;
        }
    }