@media only screen and (max-width: 768px) {
    .css-button-retro--red:after {
        display: none;
    }

    .imgFooter {
        display: none;
    }

    .nav-link {
        margin-left: 2rem;
        color: rgb(255, 255, 255) !important;
    }
    .h1{
        color: map-get($color, color-secundario);
    }

    .divGaleria {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin-top: 0rem;
        margin-left: 0rem;
    }

    .imgGaleria1 {
        margin-left: 8rem;
    }

    .foto4 {
        margin-left: 13rem;
        margin-top: 3rem;
    }

    .redes {
        display: none;
    }

    .divFooter {
        display: grid;
    }

    .wp {
        margin-top: 0.3rem;
        width: 10.5vh;
        height: 10.5vh;
        margin-left: inherit;
    }
    .ig{
        margin-left: inherit;
    }

    .enlacesPaginaFooter a {
        display: none;
    }

    .divMain {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .videoImpresora {
        display: block;
        margin: 0%;
        width: 20rem;
        height: 15rem;
    }

    .divContacto {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }

    .hContacto {
        font-size: 35px;
        justify-content: center;
        align-content: center;
    }

    .hContacto1 {
        font-size: 30px;
    }

    .container-fluid {
        padding: 0%;
    }

    .nav-link a {
        color: white !important;
    }

    .css-button-fully-rounded--black {
        min-width: 130px;
        height: 40px;
        color: #fff;
        padding: 5px 10px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        outline: none;
        border-radius: 20px;
        border: 2px solid #212529;
        background: #212529;
    }

    .css-button-fully-rounded--black:hover {
        background: #fff;
        color: #212529
    }

    .imgContactos {
        height: 30vh;
        width: 30vh;
    }

    .imgContactos1 {
        height: 35vh;
        width: 35vh;
    }

    .instaPic {
        height: 30vh;
        width: 50vh;
    }

    .divRedes {
        align-items: center;
    }
}

@media only screen and (max-width: 425px) {
    .enlacesPagina a {
        color: black;
    }

    .imgLOGO {

        margin-left: 5rem;
        width: 10rem;
        height: 5rem;
    }

    .headerTop {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .enlacesPagina__li {
        position: relative;
        right: 175px;
        bottom: 60px;
    }

    .h1 {
        margin-top: 4rem;
        font-size: 3.2rem;
        color: map-get($color , color-secundario );
    }

    .textoVentajas {
        margin: 0%;
        margin-left: 0.3rem;
        width: fit-content;
        height: fit-content;

    }

    .barraNav {
        display: flex;
        margin: 0%;
        justify-content: flex-start;
        align-items: flex-start;

    }

    .videoImpresora {
        width: 17rem;
        height: 12rem;
        margin: 0%;
        margin-top: 4rem;
        margin-left: 3.5rem;
    }

    .divFooter {
        display: grid;
    }

    .Wp {
        margin-top: 0.3rem;
        width: 10.5vh;
        height: 10.5vh;
    }

    .enlacesPaginaFooter a {
        display: none;
    }

    .divGaleria {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .imgGaleria1 {
        width: 20rem;
        height: 10rem;
        margin: 0%;
        margin-left: 1.9rem;
    }

    .foto4 {
        width: 20rem;
        height: 12rem;
        margin: 0%;
        margin-top: 2rem;
        margin-left: 1.9rem;
    }

    .foto3 {
        width: 17rem;
        height: 10rem;
        margin: 0%;
    }

    .imgProtesis1 {
        width: 17rem;
        height: 10rem;
    }

    .foto5 {
        width: 19rem;
        height: 13rem;
    }

    .txtUbi {
        margin-top: 2rem;
    }

    .ubi {
        width: 18rem;
        height: 25rem;
    }

    .divContacto {
        display: flex;
        flex-direction: column;
    }

    .imgContactos {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 30vh;
        height: 25vh;
    }

    .imgContactos1 {
        width: 30vh;
        height: 25vh;
        margin-bottom: 2rem;
    }

    .instaPic {
        height: 25vh;
        width: 43vh;
        margin: 0%;
        margin-bottom: 1rem;
    }

    .hContacto {
        height: 5rem;
        font-size: 20px;

    }

    .hContacto1 {
        font-size: 20px;
        color: white;
    }

    .carousel-inner {
        position: relative;
        right: 7.5rem;
    }

    .css-button-fully-rounded--black {
        min-width: 130px;
        height: 40px;
        color: #fff;
        padding: 5px 10px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        outline: none;
        border-radius: 20px;
        border: 2px solid #212529;
        background: #212529;
    }

    .css-button-fully-rounded--black:hover {
        background: #fff;
        color: #212529
    }
}