.divUbi{
    @include grid-row;
    justify-content: center;
}
.ubi{
    @include grid-row;
    justify-content: center;
    margin-top: 1.5rem;
    height: 79.2vh;
    width: 79.2vh;
}
.txtUbi{
    margin-top: 2rem;

    &_P{
        font-size: 20px;
        color: map-get($color , color-terciario );
        font-family: 'Ramaraja', serif;

    }
}
.textoEnvio{
    @extend .txtUbi_P;
    text-decoration: underline red;
}